<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel='shortcut icon' type='image/x-icon' href='../img/favicon.jpg'>
    <title>PoliTweets</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="styles/bootstrap.css" rel="stylesheet">
    <!-- GRAFICOS C3JS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Theme CSS -->
    <link href="styles/grayscale.css" rel="stylesheet">
    <!-- <link href="styles/custom.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      mydiv {
        position: relative;
        top: 50%;
        transform: translateY(40%);
      }
    </style>
    <style type="text/css">
      .bgimgCon {
        background-image: url('../img/CongloBN.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      .bgimgPol {
        background-image: url('../img/PoliBN.png');
        background-repeat: no-repeat;
        background-position: center; 
      }
      .bgimgPar {
        background-image: url('../img/PartiBN.png');
        background-repeat: no-repeat;
        background-position: center; 
      }
      .bgimgInf {
        background-image: url('../img/InfluBN.png');
        background-repeat: no-repeat;
        background-position: center; 
      }
    </style>
</head>

<body id="page-top" ng-app="poliTweets" ng-controller="mainCtrl" style="background-color: white;">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" ng-click="toHome()" du-smooth-scroll duration="1100">
                    <i class="fa fa-twitter fa-fw"></i> <span class="light">PoliTweets</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse" ng-controller="loginCtrl">
                <ul class="nav navbar-nav" du-spy-context>
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li du-scrollspy="conglomerados">
                        <a class="page-scroll" href="#conglomerados" du-smooth-scroll duration="1100">Conglomerados</a>
                    </li>
                    <li du-scrollspy="partidos">
                        <a class="page-scroll" href="#partidos" du-smooth-scroll duration="1100">Partidos</a>
                    </li>
                    <li du-scrollspy="politicos">
                        <a class="page-scroll" href="#politicos" du-smooth-scroll duration="1100">Politicos</a>
                    </li>
                    <li du-scrollspy="influencias">
                        <a class="page-scroll" href="#influencias" du-smooth-scroll duration="1100">Influencia</a>
                    </li>
                    <li class="dropdown" ng-show="!username">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                      <ul id="login-dp" class="dropdown-menu">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form"  action="/" accept-charset="UTF-8" id="login-nav" ng-submit="login()">
                                    <div class="form-group">
                                       <label for="exampleInputEmail2" class="lgn">Usuario</label>
                                       <input type="text" class="form-control" id="eUser2" placeholder="Usuario" ng-model="usuario" required>
                                    </div>
                                    <div class="form-group">
                                       <label for="exampleInputPassword2" class="lgn">Contraseña</label>
                                       <input type="password" class="form-control" id="ePassword2" placeholder="Contraseña" ng-model="contrasena" required>
                                    </div>
                                    <div class="form-group">
                                       <button type="button" class="btn btn-primary btn-lgn" ng-click="login(usuario,contrasena)" type="submit">Entrar</button>
                                    </div>

                                 </form>
                              </div>
                           </div>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown" ng-show="username">
                      <a href="#/admin">Administrar</a>
                    </li>
                    <li class="dropdown " ng-show="username">
                      <button type="button" class="btn btn-primary btn-lgn" style="background-color: #0084b4; border-color:#0084b4; margin-top: 5px; " ng-click="logout()">Cerrar Sesión</button>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <ng-view autoscroll="true"></ng-view>

    <!-- Angular Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.min.js"></script>

    <!-- Recursos personales-->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/angular-resource.min.js"></script>
    <script src="scripts/controllers/apConglomeradosCtrl.js"></script>
    <script src="scripts/controllers/apPartidosCtrl.js"></script>
    <script src="scripts/controllers/apPoliticosCtrl.js"></script>
    <script src="scripts/controllers/conglomeradosCtrl.js"></script>
    <script src="scripts/controllers/conglomeradosSrv.js"></script>
    <script src="scripts/controllers/mainCtrl.js"></script>
    <script src="scripts/controllers/partidosCtrl.js"></script>
    <script src="scripts/controllers/partidosSrv.js"></script>
    <script src="scripts/controllers/politicosCtrl.js"></script>
    <script src="scripts/controllers/politicosSrv.js"></script>
    <script src="scripts/controllers/daemonsCtrl.js"></script>
    <script src="scripts/controllers/daemonsSrv.js"></script>
    <script src="scripts/controllers/loginCtrl.js"></script>
    <script src="scripts/controllers/loginSrv.js"></script>
        <!-- C3 GRAPHICS core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Sigma JS libs -->
        <!--
    <script src="lib/sigma.min.js"></script>
    <script src="plugins/sigma.parsers.json/sigma.parsers.json.js"></script>
    <script src="lib/sigma.neo4j.cypher.min.js"></script>
    <script src="lib/sigma.layout.forceAtlas2.min.js"></script>
-->
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/grayscale.min.js"></script>


</body>

</html>
