<div id="wrapper" ng-controller="politicosCtrl">
<div class="row">
  <!-- SIDEBAR -->
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="#/adminPartidos">Partidos Políticos</a></li>
      <li><a href="#/adminConglomerados">Conglomerados</a></li>
      <li class="active"><a href="#/adminPoliticos">Políticos <span class="sr-only">(current)</span></a></li>
      <li><a href="#/daemons">Daemons</a></li>
    </ul>
  </div> <!-- END SIDEBAR -->

  <!-- MAIN -->
  <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-2 admin-main">
    <div class="row"> 
      <div class="col-sm-3"><h2> Políticos </h2></div>
      <div class="col-sm-2"> 
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Agregar">Agregar Nuevo</button>

        
      </div>
    </div>
    
    <div class="row"><form>
      <div class="form-group col-sm-6">
        <label for="SelectPolitico">Seleccione un político:</label>
        <select id="selectPolitico" class="form-control" ng-model="selectPolitico" ng-options="(y.nombre + ' ' + y.apellido) for (x,y) in politicos.data | orderBy: '-id'" ng-click="setPolitico(selectPolitico)">
      </select>
      </div>
      
    </form></div>

    <div ng-if="selectPolitico"><div class="well" >

      <form class="form-horizontal">
        <div class="form-group">
          <label for="Name" class="col-sm-2">Nombre:</label>
          <div class="col-sm-10">
            {{selectPolitico.nombre}}
          </div>
        </div>
        <div class="form-group">
          <label for="Name" class="col-sm-2">Apellido:</label>
          <div class="col-sm-10">
            {{selectPolitico.apellido}}
          </div>
        </div>
        <div class="form-group">
          <label for="Name" class="col-sm-2">Partido Político:</label>
          <div class="col-sm-10">
            {{selectPolitico.partido.nombre}}
          </div>
        </div>
        <div class="form-group">
          <label for="Name" class="col-sm-2">Conglomerado:</label>
          <div class="col-sm-10">
            {{selectPolitico.conglomerado.nombre}}
          </div>
        </div>
        <div class="form-group">
          <label for="Name" class="col-sm-2">Cuenta de Tweeter:</label>
          <div class="col-sm-10">
            {{selectPolitico.cuentaTwitter}}
          </div>
        </div>
      </form>

      <div class="row"><div class="col-sm-3">
        <table class="table table-condensed">
          <tr>
            <th>ID </th>
            <th>Keyword</th>
            <th> </th>
          </tr>
          <tr ng-repeat="palabra in politicoKeywords.data">
            <td>{{palabra.id}}</td>
            <td>{{palabra.value}} </td>
            <td><button type="submit" class="btn btn-danger btn-xs" ng-click="borrarKeywordPolitico(palabra.id)">Borrar</button></td>
          </tr>
        </table>
      </div></div>

      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputName2">Agregar: </label>
          <input type="text" class="form-control input-sm"" id="keyword" placeholder="Keyword" ng-model="newKeywordPol.value">
        </div>
        <button type="submit" class="btn btn-success btn-sm" ng-click="agregarKeywordPolitico(newKeywordPol)">Agregar</button>
      </form>

    </div>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Editar" ng-click="setPolitico(selectPolitico)">Editar</button>
    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#Borrar" ng-click="setPolitico(selectPolitico)">Borrar</button>

    </div>

  </div> <!-- END MAIN -->

  <!-- Modal AGREGAR-->
  <div class="modal fade" id="Agregar" tabindex="-1" role="dialog" aria-labelledby="AgregarLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar Político</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="crearPolitico()">
            <div class="form-group">
              <label for="InputName">Nombre</label>
              <input type="name" class="form-control" id="InputName" placeholder="Nombre" ng-model="newPolitico.nombre">
            </div>
            <div class="form-group">
              <label for="InputName">Apellido</label>
              <input type="name" class="form-control" id="InputLastName" placeholder="Apellido" ng-model="newPolitico.apellido">
             </div>
            <div class="form-group">
              <label for="Partido">Partido Político</label>
              <select class="form-control" ng-model="newPolitico.partido" ng-options="y.nombre for y in partidos.data">                  
              </select>
            </div>
            <div class="form-group">
              <label for="Conglomerado">Conglomerado</label>
              <select class="form-control" ng-model="newPolitico.conglomerado" ng-options="y.nombre for y in conglomerados.data">
              </select>
            </div>
            <div class="form-group">
              <label for="TweeterAccount">Cuenta de Tweeter</label>
              <input type="taccount" class="form-control" id="TweeterAccount" placeholder="ejemplo" ng-model="newPolitico.cuentaTwitter">
            </div>                 
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" ng-click="crearPolitico(newPolitico)">Agregar</button>
        </div>
      </div>
    </div>
  </div> <!-- END Modal -->

  <!-- Modal EDITAR -->
  <div class="modal fade" id="Editar" tabindex="-1" role="dialog" aria-labelledby="Editar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editar Político</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="InputName">Nombre</label>
              <input type="name" class="form-control" id="InputName" placeholder="Nombre" ng-model="politicoSeleccionado.nombre">
            </div>
            <div class="form-group">
              <label for="InputName">Apellido</label>
              <input type="name" class="form-control" id="InputLastName" placeholder="Apellido" ng-model="politicoSeleccionado.apellido">
            </div>
            <div class="form-group">
              <label for="Partido">Partido Político</label>
              <select class="form-control" ng-model="politicoSeleccionado.partido" ng-options="partido.nombre for partido in partidos.data">
                <option value="" disabled> {{selectPolitico.partido.nombre}} </option>
              </select>
            </div>
            <div class="form-group">
              <label for="Conglomerado">Conglomerado</label>
              <select class="form-control" ng-model="politicoSeleccionado.conglomerado" ng-options="conglomerado.nombre for conglomerado in conglomerados.data">
              <option value="" disabled> {{selectPolitico.conglomerado.nombre}} </option>
              </select>
            </div>
            <div class="form-group">
              <label for="TweeterAccount">Cuenta de Tweeter</label>
              <input type="taccount" class="form-control" id="TweeterAccount" placeholder="ejemplo" ng-model="politicoSeleccionado.cuentaTwitter">
            </div>
            
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" ng-click="editarPolitico(politicoSeleccionado)">Editar</button>
        </div>
      </div>
    </div>
  </div> <!-- END Modal -->

  <!-- Modal BORRAR-->
  <div class="modal fade" id="Borrar" tabindex="-1" role="dialog" aria-labelledby="Borrar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Borrar">Borrar elemento!</h4>
        </div>
        <div class="modal-body">
          ¿Está seguro que desea eliminar este elemento?

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-danger" ng-click="borrarPolitico(politicoSeleccionado)">Borrar</button>
        </div>
      </div>
    </div>
  </div> <!-- END Modal BORRAR-->

</div>
</div>