<div id="wrapper" ng-controller="conglomeradosCtrl">
<div class="row">
  <!-- SIDEBAR -->
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="#/adminPartidos">Partidos Políticos</a></li>
      <li class="active"><a href="#/adminConglomerados">Conglomerados <span class="sr-only">(current)</span></a></li>
      <li><a href="#/adminPoliticos">Políticos</a></li>
      <li><a href="#/daemons">Daemons</a></li>
    </ul>
  </div> <!-- END SIDEBAR -->

  <!-- MAIN -->
  <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-2 admin-main">
    <div class="row">
      <div class="col-sm-4"><h2> Conglomerados </h2></div>
      <div class="col-sm-2">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Agregar">Agregar Nuevo</button>
      </div>
    </div>

    <div class="row"><form>
      <div class="form-group col-sm-6">
        <label for="SelectConglomerado">Seleccione un conglomerado:</label>
        <select id="selectConglomerado" class="form-control" ng-model="selectConglomerado" ng-options="y.nombre for y in conglomerados.data | orderBy: '-id'" ng-click="setConglomerado(selectConglomerado)">
      </select>
      </div>

    </form></div>

    <div ng-if="selectConglomerado"><div class="well" >

      <form class="form-horizontal">
        <div class="form-group">
          <label for="Name" class="col-sm-2">Nombre:</label>
          <div class="col-sm-10">
            {{selectConglomerado.nombre}}
          </div>
        </div>
        <div class="form-group">
          <label for="Name" class="col-sm-2">Cuenta de Tweeter:</label>
          <div class="col-sm-10">
            {{selectConglomerado.cuentaTwitter}}
          </div>
        </div>
      </form>

      <div class="row"><div class="col-sm-3">
        <table class="table table-condensed">
          <tr>
            <th>ID </th>
            <th>Keyword</th>
            <th> </th>
          </tr>
          <tr ng-repeat="palabra in conglomeradoKeywords.data">
            <td>{{palabra.id}}</td>
            <td>{{palabra.value}} </td>
            <td><button type="submit" class="btn btn-danger btn-xs" ng-click="borrarKeywordConglomerado(palabra.id)">Borrar</button></td>
          </tr>
        </table>
      </div></div>

      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputName2">Agregar: </label>
          <input type="text" class="form-control input-sm" id="keyword" placeholder="Keyword" ng-model="newKeywordCong.value">
        </div>
        <button type="submit" class="btn btn-success btn-sm" ng-click="agregarKeywordConglomerado(newKeywordCong)">Agregar</button>
      </form>

    </div>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Editar" ng-click="setConglomerado(selectConglomerado)">Editar</button>
    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#Borrar" ng-click="setConglomerado(selectConglomerado)">Borrar</button>

    </div>

  </div> <!-- END MAIN -->

  <!-- Modal AGREGAR -->
  <div class="modal fade" id="Agregar" tabindex="-1" role="dialog" aria-labelledby="AgregarLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar Conglomerados</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="crearConglomerado()">
            <div class="form-group">
              <label for="InputName">Nombre</label>
              <input type="name" class="form-control" id="InputName" placeholder="Nombre" ng-model="newConglomerado.nombre">
            </div>
            <div class="form-group">
              <label for="TweeterAccount">Cuenta de Tweeter</label>
              <input type="taccount" class="form-control" id="TweeterAccount" placeholder="ejemplo" ng-model="newConglomerado.cuentaTwitter">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" ng-click="crearConglomerado(newConglomerado)">Agregar</button>
        </div>
      </div>
    </div>
  </div> <!-- END Modal -->

  <!-- Modal EDITAR -->
  <div class="modal fade" id="Editar" tabindex="-1" role="dialog" aria-labelledby="Editar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editar Conglomerado</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="InputName">Nombre</label>
              <input type="name" class="form-control" id="InputName" placeholder="Nombre" ng-model="conglomeradoSeleccionado.nombre">
            </div>
            <div class="form-group">
              <label for="TweeterAccount">Cuenta de Tweeter</label>
              <input type="taccount" class="form-control" id="TweeterAccount" placeholder="ejemplo" ng-model="conglomeradoSeleccionado.cuentaTwitter">
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" ng-click="editarConglomerado(conglomeradoSeleccionado)">Editar</button>
        </div>
      </div>
    </div>
  </div> <!-- END Modal -->

  <!-- Modal BORRAR-->
  <div class="modal fade" id="Borrar" tabindex="-1" role="dialog" aria-labelledby="Borrar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Borrar">Borrar elemento!</h4>
        </div>
        <div class="modal-body">
          ¿Está seguro que desea eliminar este elemento?

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-danger" ng-click="borrarConglomerado(ConglomeradoSeleccionado)">Borrar</button>
        </div>
      </div>
    </div>
  </div> <!-- END Modal BORRAR-->

</div>
</div>
