<div id="wrapper">
  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading title-text-poli">Aprobación Partidos</h1>
                    <p class="intro-text title-text-poli">Percepción de las usuarios hacia partidos políticos
                      <br></br>
                    <a href="#section" class="btn btn-circle page-scroll" du-smooth-scroll duration="2000">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </header>

  <div id="section" class="content-section-poli">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Partidos</h1>
        <h2>Percepción Ciudadana el día de ayer:</h2>
        <div id="chart1" class="chart-poli"></div>
        <br></br>
        <h2>Aprobación a través del tiempo:</h2>
        <div id="chart2" ></div>
      </div>
    </div>
  </div>
</div>
