<div id="wrapper">
<div class="row" ng-controller="daemonsCtrl">
  <!-- SIDEBAR -->
  <div class="col-sm-3 col-md-2 sidebar" >
    <ul class="nav nav-sidebar">
      <li><a href="#/adminPartidos">Partidos Políticos</a></li>
      <li><a href="#/adminConglomerados">Conglomerados</a></li>
      <li><a href="#/adminPoliticos">Políticos</a></li>
      <li class="active"><a href="#/daemons">Daemons<span class="sr-only">(current)</span></a></li>
    </ul>
  </div> <!-- END SIDEBAR -->

  <!-- MAIN -->
  <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-2 admin-main">
    <div class="row"> <div class="col-sm-5">

<h1>Daemons</h1>

Click para cambiar el estado de los recolectores: <br>

<md-switch ng-model="estado" aria-label="Switch" ng-change="onChange(estado)">
  {{ message }}
</md-switch>
</div>
</div></div>
</div></div>