<div id="wrapper">
	<div class="col-mid-12 main">
		<div class="row content">
			<div class="main">
				<img src="images/logo.png" width="200px" align="left" />
				<p> PoliTweets es una aplicación web dedicada a la recolección de tweets relacionados al estado actual de la política en Chile. Se basa en la opinión de los usuarios de la red social Twitter para presentar el estado de la opinión social del pais por medio de gráficos que muestran la aprobación de los políticos, partidos políticos y coaliciones políticas activas actualmente. </p>
				
			</div>
		</div>
		<div class="row content" ng-controller="conglomeradosCtrl">
			<h2>Políticos más recientes:</h2>
			<table class="table" ng-controller="politicosCtrl">
			  <tr>
			    <th>Nombre</th>
			    <th>Partido Político</th>
			    <th>Conglomerado</th>
			  </tr>
			  <tr ng-repeat="politico in politicos.data | orderBy: '-id' | limitTo: 10">
			    <td>{{politico.nombre}} {{politico.apellido}}</td>
			    <td>{{politico.partido.nombre}}</td>
			    <td>{{politico.partido.conglomerado.nombre}}</td>
			  </tr>
			</table>

			<h2>Partidos Políticos más recientes:</h2>
			<table class="table" ng-controller="partidosCtrl">
			  <tr>
			    <th>Nombre</th>
			    <th>Conglomerado</th>			  
			  </tr>
			  <tr ng-repeat="partido in partidos.data | orderBy: '-id' | limitTo: 10">
			    <td>{{partido.nombre}}</td>
			    <td>{{partido.conglomerado.nombre}}</td>
			  </tr>
			</table>

		</div>
	</div>
</div>