
  <head>
    <style>

      .torta {
        background-color: powderblue;
        top: 0;
        z-index: 1;
        position: relative;
        float:left;
        margin-right: 30px;
        margin-top: 10px;
      }

      #inner {
        width: 90%;
        margin: 0 auto;
      }

    </style>

  </head>
  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                <br><br><br><br><br>
                    <h1 class="brand-heading title-text-poli">Mapas</h1>
                    <p class="intro-text title-text-poli">Apreciación de Política en General por Georeferencia
                      <br></br>
                </div>
            </div>
        </div>
    </div>
  </header>

  <div class="row">
    <div id="outer" style="width:100%">
    <div id="inner" >
      <div class="well col-lg-12" >

        <div id="mapa" class="col-lg-7" align="right"></div>

        <div class="col-lg-4" align="right">
          <div class="col-lg-10 " align="center">
            <br><br><br>
            <h3 id="region-name"></h3>
            <p id="aprob" /> 
            <div id="mapaChart1" ></div>
          </div>
        </div>
      
        <!--div ng-init="mostrarMapa()"></div-->

      </div>
    </div>
    </div>
  </div>

