<div id="wrapper">
  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading title-text-poli">Mapas</h1>
                    <p class="intro-text title-text-poli">Georeferencia
                      <br></br>
                </div>
            </div>
        </div>
    </div>
  </header>

  <div class="content-section-poli">
      <leaflet width="100%" heigth="480px"></leaflet>
  </div>
</div>
